.about{
  border: 1px solid gray;
  border-radius: 8px;
  
  margin: 10px 10px 5px 5px;
  padding: 5px 20px;
  text-align: left;
  width: 600px;
}

.about h3{
  text-align: center;
}
.about__content{
  height: 670px;
  overflow-x: hidden;
  overflow-y: scroll;
}