.footer{
  text-align: left;
  align-items: left;
  align-content: left;
  border: 1px solid gray;
  border-radius: 8px;
  height: 35px;
  width: 90vw;
}
.footer ul {
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}
.footer li,
.footer span{
  border-radius: 5px;
  font-size: .75em;
  list-style: none;
  padding: 0 10px;
}
.footer ul li:hover{
  background-color: black;
  color: white;
}