.nav{
  align-items: center;
  border: 2px solid gray;
  border-radius: 8px;;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  justify-content: space-around;
  margin: 0  0 0 10px;
  width: 100%;
}
.nav .navbar .navbar__img{
  height: 20px;
  /* width: 20px; */
}
.navbar{
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.navbar .nav-item{
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 15px;
  text-wrap: nowrap;
  width: fit-content;
}
.nav-items__nav-item:hover{
  background-color: black;
  color: white;
  cursor:pointer;
}
.nav-item{
  text-decoration: none;
}
.navbar .nav-item:hover{
  background-color: black;
  color: white;
  font-weight: 600;
}
.home .nav{
  height: 202px;
  margin-left: -20px;
  width: 102px;
  border: none;
}
.home .nav .nav-items{
  border: none;
  height: 200px;
  margin-left: -150px;
  padding: 0;
  width: 100px;
}
.home .navbar{
  border: none;
  align-items: left;
  display:flex;
  flex-direction: column;
  height: 201px;
  margin-left: -20px;
  width: 101px;
}
.home .navbar .navbar__img{
  display: none;
}
.home .navbar .navbar__logo{
  display: none;
}